@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  
}
html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.flexSlider {
  display: flex;
}

.columnSlider {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
